{% extends "layout.html" %}

{% block title %}
    Portfolio - History
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Time</th>
            <th scope="col">Price</th>
            <th scope="col">Buy or Sell</th>
        </tr>
        </thead>

        <tbody>

        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['symbol'] }}</td>
                <td>{{ transaction['shares'] }}</td>
                <td>{{ transaction['time'] }}</td>
                <td>{{ transaction['price'] }}</td>
                <td>{% if transaction['buy'] %}BUY {% else %} SELL {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}