{% extends "layout.html" %}

{% block title %}
Portfolio - Overview
{% endblock %}

{% block main %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Total Value</th>
    </tr>
    </thead>

    <tbody>

    {% for stock in stocks %}
    <tr>
        <td>{{stock['symbol']}}</td>
        <td>{{stock['shares']}}</td>
        <td>{{stock['price']}}</td>
        <td>{{stock['total']}}</td>
    </tr>
    {% endfor %}
    </tbody>

    <tfoot>
    <tr>
        <!-- Money -->
        <td>CASH</td>
        <td></td>
        <td></td>
        <td>{{ cash }}</td>
    </tr>
     <tr>
        <!-- Total Cash -->
        <td><u><b>TOTAL</b></u></td>
        <td></td>
        <td></td>
         <td><span style="color:red;"><u><b>{{ total }}</b></u></span></td>
    </tr>
    </tfoot>


</table>

{% endblock %}